<div class="d-flex align-items-center justify-content-center">
    <h1>CircleCI Ruby App</h1>
</div>
    <br></br>
    <br></br>
    <br></br>
<div class="d-flex align-items-center justify-content-center">
    <%= image_tag "circleci.svg" %>
</div>